<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="templates/head :: head">
</head>
<body>
<nav th:replace="templates/navbar :: navbar"></nav>

<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            Create role form
        </div>
        <div class="panel-body">
            <form class="form-horizontal" method="post" th:action="@{/role/create}" th:object="${Role}">
                <div class="form-group">
                    <label class="control-label col-sm-4" for="role">Role:</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="role" th:field="*{role}"
                               placeholder="Enter name of role">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-5">
                        <button type="submit" class="btn btn-default">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:include="templates/scripts :: scripts"></div>
</body>
</html>