<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="templates/head :: head">
</head>
<body>
<nav th:replace="templates/navbar :: navbar"></nav>

<div class="container">
    <h2>Credits Table</h2>
    <a th:href="@{/credit/create}" class="btn btn-default" role="button">
        Create new Credit
    </a>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Credit</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="credit : ${credits}">
            <td th:text="${credit.creditId}"></td>
            <td th:text="${credit.credit}"></td>
            <td>
                <a th:href="@{/credit/{id}(id = ${credit.creditId})}" class="btn btn-info" role="button">
                    Read
                </a>
                <a th:href="@{/credit/edit/{id}(id = ${credit.creditId})}" class="btn btn-warning" role="button">
                    Update
                </a>
                <button type="submit" th:form="deleteform+${credit.creditId}" class="btn btn-danger">Delete</button>
                <form th:id="deleteform+${credit.creditId}" class="form-inline" method="post"
                      th:action="@{/credit/delete/{id}(id = ${credit.creditId})}" th:method="delete">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:include="templates/scripts :: scripts"></div>
</body>
</html>