<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="templates/head :: head">
</head>
<body>
<nav th:replace="templates/navbar :: navbar"></nav>

<div class="container">
    <div class="jumbotron">
        <h1 th:text="${user.id}"></h1>
        Login : <p th:text="${user.username}"></p>
        E-mail : <p th:text="${user.email}"></p>
        Credentials :
        <ul style="list-style-type:none" th:each="credit : ${user.credits}">
            <li th:text="${credit.name}"></li>
        </ul>
    </div>
</div>

<div th:include="templates/scripts :: scripts"></div>
</body>
</html>